<div class="categories-nav-bar">
  <div class="text-center row">
    <ul class="nav navbar-nav navbar-center">
      <li>
        <%= link_to "All Stores", stores_path, class: "green-font" %>
      </li>
      <li>
        <%= link_to "All Items", items_path, class: "green-font" %>
      </li>
    </ul>
  </div>
</div>
