<div class="col-md-4">
  <div class="store-display padded-top">
    <%= link_to image_tag(category.image), category_path(category.slug)%>
    <div class="item-description text-center">
      <h4><%= link_to "#{category.title}", category_path(category.slug) %></h4>
    </div>
  </div>
</div>
