<div class="employees">
  <% current_employees.each do |employee| %>
    <h4><%= "#{employee.first_name} #{employee.last_name}: #{employee.status}" %></h4>
    <%= form_for(employee, method: :patch) do |f| %>
      <input type="hidden" name="status" value="2">
      <input type="hidden" name="user_id" value="<%= employee.id %>">
      <%= f.submit "Fire employee", class: "btn btn-default btn-font-size" %>
    <% end %>
  <% end %>
</div>
