<div class="col-md-4">
  <div class="item-display">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ9dqwhw3vzgIhavZ9cjOLVHvCOIR45gl4b0vgngBFB__0SlBhq">
    <!-- <%= link_to image_tag(item.image), item_path(item.id)%> -->
    <div class="item-description text-center">
      <div class="btn-font-size green-font">
        <!-- <h4><%= link_to "#{item.title}", item_path(item.id), class: "green-font" %></h4> -->
        <h4>Carrots!</h4>
      </div>
      <!-- <div class="btn-pricing"><%= format_price(item.price) %></div> -->
      <div class="btn-pricing">$4.00</br>
      <!-- <%= button_to "Add to Cart", cart_items_path(item_id: item.id), -->
          <!-- class: "btn item-btn btn-font-size" %> -->
          <button type="button">Add to Cart</button>
    </div>
  </div>
</div>
