<% current_user.stores.each do |store| %>
  <%= store.name %>
  <%= link_to "Update store", edit_store_path(store.slug), class: "btn btn-success btn-font-size" %>
<% end %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% items.each do |item| %>
    <tr>
      <td><%= link_to item.title, store_item_path(item.store.slug, item) %></td>
      <td><%= format_price(item.price) %></td>
    </tr>
  <% end %>
</table>
