<div class="col-md-4">
  <div class="item-display">

    <!-- <%= link_to image_tag(market.image), market_path(market.id)%> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcnWX4yvRcEIpFm6Uo_FdexrV_8qE1u9owdumgcRaBi95tBx9_">
    <div class="market-description text-center">
      <div class="btn-font-size green-font">
        <!-- <h4><%= link_to "#{market.title}", market_path(market.id), class: "green-font" %></h4> -->
        <h4>Earl's Urban Farm</h4>
      </div>
    
  </div>
</div>
