<div class="col-md-4">
  <div class="item-display">
    <%= link_to image_tag(store.image_url), store_root_path(store.slug)%>
    <div class="store-description text-center">
      <div class="btn-font-size green-font">
        <h4><%= link_to "#{store.name}", store_root_path(store.slug), class: "green-font" %></h4>
      </div>
    </div>
  </div>
</div>
