body {
  color: $darkred;
  font-family: 'Source Sans Pro', sans-serif;
}

body a {
  color: $darkred;
}

body a:hover {
  color: $orange;
}

.big-big-font {
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

h1 {
  font-size: 56px;
  margin-bottom: 15px;
  margin-top: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
  margin-top: 0;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

.btn-font-size {
  font-size: 26px;
}
