.navbar {
  background-color: $white;
  border: 0;
  font-size: 22px;
  letter-spacing: 4px;
  margin-bottom: 0;
  opacity: 0.9;

  .navbar-brand {
    display: flex;
    align-items: center;

    .logo {
      width: 80px;
      height: 80px;
      background-image: url('carrot-logo.jpg');
      background-size: cover;
    }
  }
}

.navbar-center {
  text-align: center;
  width: 100%;

  > li {
    display: inline-block;
    float: none;
  }
}

.categories-nav-bar {
  background-color: $orange;
  font-size: 32px;
  text-align: center;
}

.categories-nav-bar li a {
  color: rgba(white, 0.9);
}

.categories-nav-bar li a:hover {
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}
