body {
  margin-top: 120px;
  margin-bottom: 70px;
}

.padded-bottom {
  margin-bottom: 50px;
}

.padded-top {
  margin-top: 50px;
}

.padded-right {
  margin-right: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}
