body {
  margin-top: 94px;
  margin-bottom: 70px;
}

.padded-bottom {
  margin-bottom: 50px;
}

.small-padded-bottom {
  margin-bottom: 20px;
}

.padded-top {
  margin-top: 50px;
}

.padded-right {
  margin-right: 50px;
}

.padded-left {
  margin-left: 50px;
}
