<div class="text-center row">
  <div class="padded-bottom">
    <h4 class="text-center green-font" >Browse these categories to find your favorite produce.</h4>
  </div>
  <div class="text-center row">
    <div class="categories">
      <%= render partial: "shared/category", collection: @categories %>
    </div>
  </div>
</div>
